<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="HandheldFriendly" content="True" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="{{meta_description}}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{meta_title}}</title>
	
	<link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.min.css"}}">
	<link rel="stylesheet" type="text/css" href="{{asset "css/font-awesome.min.css"}}">
	<link rel="stylesheet" type="text/css" href="{{asset "css/colorbox.css"}}" />
	<link rel="stylesheet" type="text/css" href="{{asset "css/clui.css"}}" />
	
	{{! Ghost outputs important style and meta data with this tag }}
	{{ghost_head}}
</head>
<body class="{{body_class}}">
	
	{{! Everything else gets inserted here }}
	{{{body}}}
	
	<footer class="container">
		<div class="row">
			<div class="col-xs-12">
				<section>&copy; <a href="/">{{@blog.title}}</a> 2014</section>
				<section>powered by <a class="icon-ghost" href="http://ghost.org"></a></section>
			</div>
		</div>
	</footer>
	
	{{! Ghost outputs important scripts and data with this tag }}
	{{ghost_foot}}
	
	{{! The main JavaScript file for CLUI }}
	<script type="text/javascript" src="{{asset "js/bootstrap.min.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/jquery.jscroll.min.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/jquery.colorbox-min.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/clui.js"}}"></script>
	
</body>
</html>
