{{!< default}}

{{#if @blog.cover}}
	<style type="text/css">
		body {
			padding-top: 222px;
		}
	</style>
{{/if}}

{{! Navbar for homepage }}
<nav class="navbar navbar-default {{#if @blog.cover}}navbar-with-cover{{/if}}" role="navigation" {{#if @blog.cover}}style="background:url({{@blog.url}}{{@blog.cover}})"{{/if}}>
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{@blog.url}}">
				{{#if @blog.logo}}
					<img src="{{@blog.logo}}" alt="{{@blog.title}}" />
				{{else}}
					{{@blog.title}} <small>{{@blog.description}}</small>
				{{/if}}
			</a>
		</div>
		<p class="navbar-text navbar-right navbar-text-home hidden-xs">
			<a href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i></a>
		</p>
	</div>
</nav>

{{! The main content area on the homepage }}
<div class="container main-content" role="main">
	<div class="row posts-holder">
	
		{{#foreach posts}}
			<article class="{{post_class}} clui-post-list col-sm-4 col-xs-12">
				<header class="post-header">
					<div class="post-meta">
						<a class="post-date">{{date published_at format="DD. MMM YYYY"}}</a>
					</div>
					<div class="atcl-pic">
						<h4 class="post-title">
							<a href="{{url}}">{{{title}}}</a>
						</h4>
					</div>
				</header>
				<section class="post-cover-preholder hide">
					{{content words="0"}}
				</section>
				{{#if tags}}
					<section class="post-tag"><i class="fa fa-tag"></i> {{tags separator=" "}}</section>
				{{/if}}
			</article>
		{{/foreach}}
	
		{{!! pagination links }}
		<div class="col-md-12 hide">{{pagination}}</div>
	
	</div>
</div>